# Archivos específicos de datos grandes o temporales
data/large-file.txt
data/tempData.txt

# Node.js modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Variables de entorno
.env

# Archivos específicos del sistema operativo
.DS_Store
Thumbs.db

# Archivos de configuración de herramientas (Plug'n'Play para Yarn)
.pnp
.pnp.js

# Caché opcional de npm
.npm/

# Configuraciones de IDE/Editor
.idea/
.vscode/
*.swp

# Directorios de construcción (build)
dist/
build/

# Archivos de bloqueo de dependencias
package-lock.json
yarn.lock
pnpm-lock.yaml
